@import '../variables';

.notificationContainer {
    position: absolute;
    width: calc(100% - 224px);
    min-width: 570px;
    height: auto;
    display: flex;
    .notificationWrapper {
      display: flex;
      width: 100%;
      height: 63px;
      margin: 12px 25px;
      padding: 10px;
      background: #FFFFFF;
      border-radius: 10px 10px 10px 0;
      font-size: 24px;
      color: white;
      align-items: center;
      position: relative;

      .message {
          padding: 5px 30px 5px 90px;
          color: #000000;
          font-size: 24px;
      }
      .closeButton {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 27px;
        color: gray;
      }
      .notificationMarkWrapper {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #838383;
        height: calc(100% - 10px);
        border: 5px solid #C9B3AC;
        border-radius: 10px 10px 0 0;
        display: flex;
        padding: 0 20px;
        .infoMark {
          align-self: center;
          color: white;
          padding: 0 10px;
          border: 2px solid white;
          border-radius: 50%;
        }
      }
    }
}

@media (max-width: 670px) {
    .notificationContainer {
        position: absolute;
        width: 100%
    }
}