@import '../variables';
.pizzaFormContainer {
    width: 100%;
    min-width: 570px;
    min-height: 247px;
    display: flex;
    justify-content: center;
    margin-top: 232px;
    
    font-size: 24px;
    font-weight: bold;
    // align-self: center;
    .pizzaFormWrapper {
      width: 776px;
      // height: 347px;
      margin: 10px 10px;
      background: #FFFFFF;
      border: 4px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 0 0 10px 10px;
      padding: 0 30px 30px 30px;
      position: relative;
      .withdrawTab {
        cursor: pointer;
        position: absolute;
        top: -60px;
        width: 360px;
        height: 56px;
        left: -4px;
        color: #FFFFFF;
        border-top-left-radius: 10px;
        display: flex;
        justify-content: center;
        background: #F86813;
        p {
          margin: 0;
          align-self: center;
          font-weight: bold;
          font-size: 24px;
        }
        .oblique {
          position: absolute;
          right: -56px;
          width: 0;
          height: 0;
          border: 28px solid #F86813;
          border-right: 28px solid transparent;
          border-top: 28px solid transparent;
        }
      }
      .donateTab {
        cursor: pointer;
        position: absolute;
        top: -60px;
        width: 360px;
        height: 56px;
        right: -4px;
        color: #FFFFFF;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: center;
        background: #AD362D;
        p {
          margin: 0;
          align-self: center;
          font-weight: bold;
          font-size: 24px;
        }
        .oblique {
          position: absolute;
          left: -56px;
          width: 0;
          height: 0;
          border: 28px solid #AD362D;
          border-left: 28px solid transparent;
          border-bottom: 28px solid transparent;
        }
      }
      .titleWrapper {
        margin-top: 47px;
        .title {
          align-self: center;
          text-align: left;
          width: 100%;
          font-weight: bold;
          font-size: 24px;
        }
      }
      .inputWrapper {
        margin-top: 20px;
        .input {
          width: 100%;
          background: #C9B3AC;
          border-radius: 10px;
          height: 78px;
          display: flex;
          .content {
            height: 50px;
            width: 90%;
            border: none;
            outline: none;
            background-color: #C9B3AC;
            margin-left: 10px;
            padding: 0 10px;
            font-weight: bold;
            font-size: 24px;
            align-self: center;
          }
        }
      }
      .balanceWrapper {
        margin-top: 6px;
        text-align: right;
        color: #A57F73;
        font-size: 18px;
        font-weight: bold;
        span {
          color: #501103;
        }
        padding-bottom: 10px;
      }
      .buttonWrapper {
        margin-top: 20px;
        .withdrawButton {
          cursor: pointer;
          width: 100%;
          background: #F86813;
          border: none;
          border-radius: 10px;
          font-weight: bold;
          font-size: 24px;
          color: #FFFFFF;
          height: 78px;
        }
        .donateButton {
          cursor: pointer;
          width: 100%;
          background: #AD362D;
          border: none;
          border-radius: 10px;
          font-weight: bold;
          font-size: 24px;
          color: #FFFFFF;
          height: 78px;
        }
      }
    }
  }