// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    background-color: #FDD39A;
    font-family: 'Montserrat';
}

.bar-of-progress {
    z-index: 50;
  }